<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/lib/css/responsive.css">
      <link rel="stylesheet" href="assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="assets/lib/css/spacing.css">
      <link rel="stylesheet" href="assets/lib/css/style.css">
      <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/header.css">

  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>
    

    <!--About Start-->
    <div class="about-page pt_60 pb_30">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Our Mission</h3>
            <p>To empower healthcare institutions through a unified, cloud-based hospital management system that enhances coordination, 
              improves operational efficiency, and ensures high-quality patient care across multiple facilities. We are committed to transforming 
              the healthcare experience by delivering secure, scalable, and intelligent solutions that simplify complex hospital
               workflows and promote seamless communication between providers, patients, and administrators.<br></p>
           
            <br>
            <h3>Our Vision</h3>
            <p>To empower healthcare institutions through a unified, cloud-based hospital management system that enhances
               coordination, improves operational efficiency, and ensures high-quality patient care across multiple facilities. 
               We are committed to transforming the healthcare experience by delivering secure, scalable, and intelligent solutions 
               that simplify complex hospital workflows and promote seamless communication between providers, patients, and administrators..<br></p>
            
            <br>
          </div>
        </div>
      </div>
    </div>
    <!--About End-->

   

    <script>
      var i = 0;
      var txt = 'WELCOME TO M2RD';
      var speed = 60;
      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="/assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>

  </body>
</html>