<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> 

    <% if (data.NODE_ENV == 'production') { %>
      <!-- Production Stylesheets -->
      <link rel="stylesheet" href="assets/production/css/services.min.css">

    <% }else { %>
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/lib/css/responsive.css">
      <link rel="stylesheet" href="assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="assets/lib/css/spacing.css">
      <link rel="stylesheet" href="assets/lib/css/style.css">
      <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/header.css">

    <% } %>

  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <!--Service-Area Start-->
    <div class="service-page pt_60 pb_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/newborn.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Newborn Care</a></h3>
                <p>
                  We offer specialized care for newborn babies, focusing on their health, growth, and development. 
                  Our services include thorough initial check-ups, essential vaccinations, and regular monitoring of growth milestones. 
                  We also provide support for feeding and nutrition, along with guidance for new parents on baby care and safety. 
                  With experienced pediatricians and neonatal nurses, we ensure your baby receives compassionate and expert care right 
                  from the start.
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/mothercare.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Mother Care</a></h3>
                <p>
                  Our mother care services are designed to support women through pregnancy, childbirth, and postpartum recovery.
                   We provide comprehensive prenatal check-ups, nutritional guidance, and personalized birth plans to ensure a healthy pregnancy. 
                   After delivery, our team offers postnatal care, including physical recovery support, breastfeeding assistance, and emotional well-being 
                   counseling. With experienced obstetricians and caring nurses, we prioritize the health and comfort of both mother and baby at every stage. </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/criticaltreatement.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Critical Treatment</a></h3>
                <p>
                 Our critical treatment services provide urgent and specialized medical care for patients facing 
                 life-threatening conditions. Equipped with advanced technology and staffed by experienced critical care specialists, 
                 we offer immediate interventions for trauma, severe infections, cardiac emergencies, respiratory failure, and other critical illnesses. </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/lab.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Modern Laboratory</a></h3>
                <p>
                 We utilize modern technology to enhance the quality and efficiency of healthcare services. 
                 From advanced diagnostic tools and real-time patient monitoring systems to automated record-keeping and
                  telemedicine, our facility integrates the latest innovations to provide accurate, timely, and personalized care. </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/test.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">All Major Tests</a></h3>
                <p>
                  We offer all major medical tests to support accurate diagnosis and effective treatment 
                  planning. Our facility is equipped to perform a wide range of laboratory and diagnostic tests, 
                  including blood tests, urine analysis, imaging scans (X-rays, MRI, CT), ECG, and more. With advanced equipment and expert technicians, we ensure fast, reliable results to help our medical team deliver the best care possible. </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/dental.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Dental Care</a></h3>
                <p>
                Our dental care services focus on maintaining and improving your oral health through a wide range of treatments.
                 From routine cleanings and check-ups to advanced procedures like fillings, root canals, and orthodontics, our skilled 
                 dentists provide gentle and effective care. </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Service-Area End-->

    <!--Footer-->
    
    
    <script>
      var i = 0;
      var txt = 'WELCOME TO M2RD';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>
  </body>
</html>